<%= partial "layouts/banner" %>

<div class="card-container">

  <div class="container">
    <div class="row">
      <% 16.times do |card| %>
        <div class="col-xs-12 col-sm-3">
          <%= partial "layouts/card" %>
        </div>
      <% end %>
    </div>
  </div>

</div>












